<!DOCTYPE html>
<html lang="vi">
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoViet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</header>
<body>
    <!-- Thanh điều hướng -->
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">AI Tour Guide</a>
            <div class="nav-menu">
                <a href="/" class="nav-item">Home</a>
                <a href="/service" class="nav-item">Service</a>
                <a href="/user" class="nav-item">User</a>
                <a href="/setting" class="nav-item">Setting</a>
            </div>
            <div class="nav-buttons">
                <a href="#" class="nav-button-login">Login</a>
                <a href="#" class="nav-button-trial">Free Trial</a>
        </div> 
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>