{% extends 'base.html' %}
{% block content %}

<div class="hero-section">
    <div class="hero-text">
        <h1>LÊN KẾ HOẠCH DU LỊCH THÔNG MINH
        <p>
            Với hệ thống gợi ý thông minh, bạn có thể xây dựng lịch trình du lịch
            cá nhân hóa một cách nhanh chóng và linh hoạt hơn bao giờ hết.
        </p>
        <a href="{{ url_for('service.service') }}" class="hero-button">Bắt đầu ngay</a>
        </h1>
    </div>
    <div class="hero-image">
        <img src="{{ url_for('static', filename='images/banner-image.jpg') }}" alt="Smart Tourism Banner">
    </div>
</div>

{% endblock %}