{% extends 'base.html' %}
{% block content %}

<div class="user-container">
    <div class="user-sidebar">
        <div class="user-avatar">
            <img src="static\images\avatar.jpg" alt="User avatar">
            <h3>Tên người dùng</h3>
            <p>nctai2417@clc.fitus.edu.vn</p>
        </div>
        <nav class="user-nav">
            <a href="#" class="activate">Thông tin tài khoản</a>
            <a href="#">Các tour đã lưu</a>
            <a href="#">Đăng xuất</a>
        </nav>
    </div>
    <div class="user-main-content">
        <h2>Thông tin tài khoản</h2>
        <form class="user-form">
            <div class="form-group">
                <label for="fullName">Họ và tên</label>
                <input type="text" id="fullName" value="Tên Người Dùng">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" value="user.email@example.com" disabled>
            </div>
            <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <input type="tel" id="phone" placeholder="Chưa có số điện thoại">
            </div>
            <button type="submit" class="form-button">Cập nhật thông tin</button>
        </form>
    <h2 class="section-title">Các chuyến đi đã lưu</h2>
        <div class="saved-trips">
            <div class="trip-card">
                <h4>Chuyến đi khám phá Lễ hội Chùa Hương</h4>
                <p>Ngày tạo: 20/10/2025</p>
                <a href="#">Xem chi tiết</a>
            </div>
            <div class="trip-card">
                <h4>Hành trình về miền Tây mùa nước nổi</h4>
                <p>Ngày tạo: 15/09/2025</p>
                <a href="#">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}